<app-navbar></app-navbar>
<div class="mb-4"></div>
<div class="container mb-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form>
                <mat-form-field class="form-element">
                    <input matInput placeholder="Search companies,codes here" [formControl]="searchControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngIf="isLoading" class="is-loading">
                            <mat-spinner diameter="50"></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let option of filteredOptions" [value]="option">
                                <span>{{ option.name }}</span>
                                <small> | CODE: {{option.code}}</small>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
                &nbsp;&nbsp;<button (click)="onSubmit()" mat-raised-button>
                    <mat-icon>search</mat-icon> Search
                </button>
            </form>
        </div>
    </div>
</div>

<div class="mb-4"></div>
<div *ngIf="show && ipos?.length > 0" class="container-fluid">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card chart-card border-dark">
                <div class="card-body pb-0">
                    <h4 class="card-title font-weight-bold text-center">

                        All IPOs for <span class="text-warning">{{ companyName?.companyName }}</span></h4>
                    <div class="d-flex justify-content-between">
                        <p style="font-size:2rem" class="align-self-end"><span class="text-success">
                                Current price <i class="fa fa-money" aria-hidden="true"></i>
                            </span></p>
                        <p class="align-self-end pb-2"><span class="text-success">
                                <i class="fa fa-long-arrow-up"></i>&nbsp;(0.03%)</span></p>
                    </div>
                </div>
                <hr>
                <ng-container *ngIf="ipos">
                    <table class="table table-hover table-responsive-sm text-warning">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th class="text-success">Price /share</th>
                                <th>Listed On</th>
                                <th class="text-success">Total Shares</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let ipo of ipos; let i = index">
                            <tr>
                                <td>{{ ipo.modifyDate | date:'short'}}&nbsp;<i class="fa fa-calendar"
                                        aria-hidden="true"></i></td>
                                <td class="text-success">{{ ipo.price | currency : 'INR'}}</td>
                                <td>{{ ipo.stockExchange }}</td>
                                <td class="text-success">{{ ipo.totalShares }}</td>
                                <td>
                                    <div class="text-center">
                                        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal"
                                            [attr.data-target]="'#modal' + i">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>
                                    </div>

                                    <div class="modal fade" id="modal{{i}}" tabindex="-1" role="dialog"
                                        aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title w-100 font-weight-bold">Edit IPO</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>


                                                <div class="modal-body mx-3">
                                                    <form class="form" [formGroup]="editIpoForm"
                                                        (ngSubmit)="editIpo(ipo.id)" novalidate>
                                                        <mat-form-field class="form-element">

                                                            <input matInput placeholder="Price Per share"
                                                                formControlName="price" type="number">
                                                            <mat-error
                                                                *ngIf="!editIpoForm.controls['price'].valid && editIpoForm.controls['price'].touched">
                                                                {{ getEditErrorPrice() }}
                                                            </mat-error>
                                                        </mat-form-field>
                                                        <small
                                                            class="text-secondary"><del>{{ ipo.price | currency : 'INR' }}</del></small>
                                                        <br>
                                                        <mat-form-field class="form-element">
                                                            <input matInput placeholder="Total Shares"
                                                                formControlName="totalShares" type="number">
                                                            <mat-error
                                                                *ngIf="!editIpoForm.controls['totalShares'].valid && editIpoForm.controls['totalShares'].touched">
                                                                {{ getEditErrorTotalShares() }}
                                                            </mat-error>
                                                        </mat-form-field>
                                                        <small
                                                            class="text-secondary"><del>{{ ipo.totalShares }}</del></small>
                                                        <br>

                                                        <mat-form-field class="form-element">

                                                            <textarea matInput cdkTextareaAutosize
                                                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                                                cdkAutosizeMaxRows="5" formControlName="remarks"
                                                                placeholder="Remarks">{{ ipo.remarks }}</textarea>
                                                        </mat-form-field>
                                                        <small
                                                            class="text-secondary"><del>{{ ipo.remarks }}</del></small>
                                                        <br>

                                                        <div class="form-element">
                                                            <button mat-raised-button color="accent" type="submit"
                                                                class="button">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>


                <div class="text-center mb-4">
                    <span *ngIf="hasPrevious">
                        <a class="btn btn-dark text-light" (click)="getIpoPaging(page.number-1, page.size)">Previous</a>
                    </span>
                    <span *ngIf="hasNext"> <a class="btn btn-dark text-light"
                            (click)="getIpoPaging(page.number+1, page.size)">Next</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="count != 0">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add IPO&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
            </mat-panel-title>
            <mat-panel-description>
                Enter IPO details
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form class="form" [formGroup]="addIpoForm" (ngSubmit)="addIpo()">
            <mat-card class="mat-elevation-z8">
                <mat-card-content>
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Company Name" formControlName="companyName">
                        <mat-error
                            *ngIf="!addIpoForm.controls['companyName'].valid && addIpoForm.controls['companyName'].touched">
                            {{ getErrorCompanyName() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="StockExchange Name" formControlName="stockExchange">
                        <mat-error
                            *ngIf="!addIpoForm.controls['stockExchange'].valid && addIpoForm.controls['stockExchange'].touched">
                            {{ getErrorStockExchange() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">

                        <input matInput placeholder="Price Per share" formControlName="price" type="number">
                        <mat-error *ngIf="!addIpoForm.controls['price'].valid && addIpoForm.controls['price'].touched">
                            {{ getErrorPrice() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">

                        <input matInput placeholder="Total Shares" formControlName="totalShares" type="number">
                        <mat-error
                            *ngIf="!addIpoForm.controls['totalShares'].valid && addIpoForm.controls['totalShares'].touched">
                            {{ getErrorTotalShares() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">

                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5" formControlName="remarks" placeholder="Remarks"></textarea>
                    </mat-form-field>

                    <div class="form-element">
                        <button mat-raised-button color="accent" type="submit" class="button">Submit</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-expansion-panel>
</div>